{ % load static % }

<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <span data-feather="home"></span>
          Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'christians' %}">
          <span data-feather="users"></span>
          Christians
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'events' %}">
          <span data-feather="bar-chart-2"></span>
          Events
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'analytics' %}">
          <span data-feather="layers"></span>
          Analytics
        </a>
      </li>
    </ul>
  </div>
</nav>
